{% extends 'flatpages/default.html' %}
 
{% block title %} Post {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата написания
        </th>
        <th>
            Превью
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title}}
        </td>
        <td>
            {{ post.time_wr}}
        </td>
        <td>
            {{ post.post_text|truncatewords:10 }}
        </td>
    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %} 